* {
  box-sizing: border-box;
}

/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

/*Base CSS*/

body {
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  font-size: .9em;
  margin: 0;
}

header.main-header {
  width: 100%;
  background-color: #fafafa;
  padding-top: .1em;
  padding-bottom: 1em;
  margin-bottom: 1.2em;
}

nav.main-navigation {
  width: 95%;
  margin: auto;
}

ul.main-nav {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  color: #000;
}

img {
  max-width: 100%;
}

div.container {
  width: 95%;
  margin: auto;
}

footer.main-footer {
  width: 100%;
}

/*Class Css*/

h2.section-title {
  margin-bottom: 1.5em;
  margin-top: 0;
  font-family: 'Gloria Hallelujah', cursive; /*NOTE - Exceeds Expectations Design & Layout - Additional Google Font used!*/
}

/*Header*/
ul.main-nav {
  list-style-type: none;
  padding: 0;
  margin-top: 23px;
}

a.nav {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

li.linav {
  background: #fff;
  padding: 15px 0;
  font-size: 1em;
  font-weight: bold;
}

/*Intro*/

div.intro {
  margin-bottom: 1.8em;
  padding-bottom: 0.1em;
  background-color: #fbffe2;
  border-radius: 8px;
  padding-top: 1em;

}

div.intro p {
  color: grey;
}

img.profile-image {
  width: 75%;
  margin-bottom: 1em;
  border-radius: 2px;
}

/*main*/

div.col {
  margin-bottom: 2.7em;
}

div.portfolio {
  margin-bottom: 1em;
  padding-bottom: .1em;
  background-color: #fbffe2; /*NOTE - Exceeds Expectations Met - Design & Layout - Backgound Color changed!*/
  border-radius: 8px;
  padding-top: 1em;
}

img.project {
  margin-bottom: 1em;
}

p.project-text {
  color: grey;
}

div.skills {
  margin-bottom: 1.4em;
  padding: .4em .1em .4em;
  background: #b4e3f5;  /*NOTE - Exceeds Expectations met design and layout - background color change*/
  border-radius: 8px;
}

div.skills p {
  color: grey;
}

h3 {
  margin: 0;
}

div.html {
  background-color: #e7f549;
  border-radius: 7px;
  padding: 0.5em;
  margin: .6em;
}

div.css {
  background-color: #248ce0;
  border-radius: 7px;
  padding: 0.5em;
  margin: .6em;
}

div.javascript {
  background-color: #e7f549;
  border-radius: 7px;
  padding: 0.5em;
  margin: .6em;
}

div.base-wrap {
  background-color: #fafafa;
  padding: 1em .2em .3em;
  width: 100%;
}

div.contact {
  margin-bottom: 1.4em;
  padding-bottom: .1em;
  width: 100%
  margin: auto;
}

div.contact p {
  color: grey;
}

span.contact-method {
  font-weight: bold;
}

/*Footer*/

footer.main-footer {
  border-top: grey solid 1.5px;
  padding-top: .4em;
  width: 100%;
  margin: auto;
}

h2.footer-title {
  float: left;
  font-size: 1em;
  margin-bottom: .2em;
}

ul.footer-nav {
  display: none;
}

a.back-to-top {
  color: blue; /*NOTE - Exceeds Expectations Met Design & Layout - Color of at least one piece of text changed!*/
  font-weight: bold;
  float: right;
  margin: 0;
}

p.back-to-top {
  margin-bottom: .4em;
  margin-top: .83em;
}

ul.footer-nav {
  list-style-type: none;
}

/*Pseudo Classes*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/*Media Querys*/

@media (min-width: 768px) {   /*-------Media Query for screens larger than 768px*/

  body {
    font-size: 16px;
  }

  div.container {
    width: 90%;
    margin: auto;
  }

  ul.main-nav {
    display: inline-block;
    margin-top: 0;
  }

  a.nav {
    display: inline-block;
  }

  li.linav {
    margin: .2em .5em;
    padding: .8em 1em;
  }


  div.intro {
    padding-left: 1em;
    padding-bottom: 1em;
  }

  img.profile-image {
    float: right;
    width: 40%;
    margin: 0 2.5%;
  }

  div.intro-text {
    float: left;
    width: 55%;
  }

  div.portfolio {
    padding-left: 4%;
  }

  div.col {
    float: left;
    width: 47%;
    min-height: 345px;
    margin-right: 2%;
  }

  div.html {
    width: 45%;
    margin: auto;
    margin: .6em auto;
  }

  div.css {
    width: 45%;
    margin: .6em auto;
  }

  div.javascript {
    width: 45%;
    margin: auto;
    margin: .6em auto;
  }

  div.contact {
    width: 85%;
    margin: auto;
  }

  a.back-to-top {
    display: none;
  }

  ul.footer-nav {
    display: inline-block;
    float: right;
  }

  li.lifooter {
    display: inline-block;
    margin-right: 1em;
  }

}

@media (min-width: 1024px) {   /*-------Media Query for screens larger than 1024px*/

  header.main-header {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0;
  }

  h1 {
    float: left;
    width: auto;
  }

  nav.main-navigation {
    float: right;
    width: auto;
  }

  ul.main-nav {
    width: auto;
  }

  div.container {
    width: 85%;
  }

  div.col {
    width: 30%;
    margin-right: 3%;
  }

  div.html {
    width: 30%;
  }

  div.css {
    width: 30%;
  }

  div.javascript {
    width: 30%;
  }

  div.contact {
    width: 80%;
  }

}



/*Clearfix*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
